@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple client-server program which contains api and client.</p>
    <p>Main function is to manage the fridges and products in them.</p>
</div>
